---
# Personal Infrastructure Inventory
# This file contains your personal servers and infrastructure
all:
  children:
    personal:
      hosts:
        node-1-nl:
          ansible_host: 92.5.236.107
          ansible_user: ubuntu
          ansible_become: true
          ansible_become_method: sudo
          iptables_allowed_tcp_ports: [22, 80, 443]
          iptables_allowed_udp_ports: [41641, 51820]
          tailscale_enable_route_advertisement: true
          tailscale_advertise_routes:
            - "10.0.0.0/24"
            - "172.16.0.0/12"
            - "169.254.169.254/32"
          traefik_acme_dns_provider: "cloudflare"
          traefik_dashboard_domain: "projectdot.work"
          traefik_dashboard_password: "Qwerty123456!"
          traefik_certificate_type: "acme"
          traefik_acme_email: "rasulmmdv2@gmail.com"
          traefik_acme_use_staging: false  # Set to true for testing
        node-2-nl:
          ansible_host: 141.144.205.249
          ansible_user: ubuntu
          ansible_become: true
          ansible_become_method: sudo
          iptables_allowed_tcp_ports: [22, 80, 443]
          iptables_allowed_udp_ports: [41641, 51820]
          tailscale_enable_route_advertisement: true
          tailscale_advertise_routes:
            - "10.0.0.0/24"
            - "172.16.0.0/12"
            - "169.254.169.254/32"
          traefik_acme_dns_provider: "cloudflare"
          traefik_dashboard_domain: "projectdot.work"
          traefik_dashboard_password: "Qwerty123456!"
          traefik_certificate_type: "acme"
          traefik_acme_email: "rasulmmdv2@gmail.com"
          traefik_acme_use_staging: false  # Set to true for testing
        node-1-us:
          ansible_host: 129.80.215.99
          ansible_user: ubuntu
          ansible_become: true
          ansible_become_method: sudo
          iptables_allowed_tcp_ports: [22, 80, 443]
          iptables_allowed_udp_ports: [41641, 51820]
          tailscale_enable_route_advertisement: true
          tailscale_advertise_routes:
            - "10.0.0.0/24"
            - "172.16.0.0/12"
            - "169.254.169.254/32"
          traefik_acme_dns_provider: "cloudflare"
          traefik_dashboard_domain: "monitoring.projectdot.work"
          traefik_dashboard_password: "Qwerty123456!"
          traefik_certificate_type: "acme"
          traefik_acme_email: "rasulmmdv2@gmail.com"
          traefik_acme_use_staging: false  # Set to true for testing
          grafana_traefik_domain: "monitoring.projectdot.work"
          # grafana_traefik_middlewares: ["vpn-whitelist"]  # Temporarily disabled for testing
          grafana_traefik_port: 3000
          # Alertmanager Telegram configuration
          alertmanager_telegram_bot_token: "8353663381:AAECcI1ylWj7pgynPYY6Ty2rhEo__9ker-g"
          alertmanager_telegram_chat_id: "-4955669289"
