---
# cAdvisor targets for Prometheus service discovery
# This file is automatically updated by the cadvisor role
# Prometheus will pick up changes within 30 seconds (refresh_interval)

- targets: ['cadvisor:8080']
  labels:
    instance: '{{ ansible_default_ipv4.address | default("cadvisor") }}'
    hostname: '{{ inventory_hostname }}'
    container_runtime: 'docker'
    monitoring_type: 'container-resource'
    scrape_interval: '{{ cadvisor_monitoring.collection_interval }}'
    # Resource monitoring configuration
    cpu_warning_threshold: '{{ cadvisor_monitoring.resource_thresholds.cpu_warning }}'
    cpu_critical_threshold: '{{ cadvisor_monitoring.resource_thresholds.cpu_critical }}'
    memory_warning_threshold: '{{ cadvisor_monitoring.resource_thresholds.memory_warning }}'
    memory_critical_threshold: '{{ cadvisor_monitoring.resource_thresholds.memory_critical }}'
    disk_warning_threshold: '{{ cadvisor_monitoring.resource_thresholds.disk_warning }}'
    disk_critical_threshold: '{{ cadvisor_monitoring.resource_thresholds.disk_critical }}'
{% if cadvisor_labels is defined %}
{% for key, value in cadvisor_labels.items() %}
    {{ key }}: '{{ value }}'
{% endfor %}
{% endif %}