version: '3.8'
services:
  blackbox_exporter:
    image: "{{ blackbox_exporter_image }}"
    container_name: "{{ blackbox_exporter_container_name }}"
    restart: unless-stopped
    command:
{% for arg in blackbox_exporter_command %}
      - {{ arg }}
{% endfor %}
    ports:
{% for port in blackbox_exporter_ports %}
      - "{{ port }}"
{% endfor %}
    volumes:
{% for volume in blackbox_exporter_volumes %}
      - {{ volume }}
{% endfor %}
    networks:
      - monitoring

networks:
  monitoring:
    external: true 