---
- name: Configure all servers
  hosts: all
  roles:
    - update
    - common
    - fail2ban
    - system-config
    - docker
    - iptables
    - common
    - restic
    # - portainer-agent
    # - tailscale
    # - traefik
    # - portainer

