---
# Playbook: site.yml
# Description: Configure all servers
# Usage: 
#   From ansible/ directory: ansible-playbook playbooks/site.yml -e "target_hosts=personal"
#   From root directory: ANSIBLE_CONFIG=ansible/ansible.cfg ansible-playbook -i ansible/all ansible/playbooks/site.yml -e "target_hosts=personal"

- name: Configure all servers
  hosts: "{{ target_hosts | default('all') }}"
  roles:
    - update
    - common
    - fail2ban
    - system-config
    - docker
    - iptables
    - common
    # - restic  # Excluded as requested
    # - portainer-agent
    # - tailscale  # Excluded as requested
    # - traefik
    # - portainer

