---
# Playbook: update.yml
# Description: Updates system packages
# Usage: 
#   From ansible/ directory: ansible-playbook playbooks/update.yml -e "target_hosts=personal"
#   From root directory: ANSIBLE_CONFIG=ansible/ansible.cfg ansible-playbook -i ansible/all ansible/playbooks/update.yml -e "target_hosts=personal"

- name: Update and reboot hosts if required
  hosts: "{{ target_hosts | default('all') }}"
  become: true
  vars:
    update_reboot: false  # Set to true for automatic reboot
  roles:
    - update
  post_tasks:
    - name: Check if reboot is required
      stat:
        path: /var/run/reboot-required
      register: reboot_required_file
      changed_when: false
