---
# Node Exporter targets for Prometheus service discovery
# This file is automatically updated by the node_exporter role
# Prometheus will pick up changes within 30 seconds (refresh_interval)

- targets: ['{{ node_exporter_host_ip | default(ansible_default_ipv4.address) }}:9100']
  labels:
    job: node_exporter
    instance: '{{ ansible_default_ipv4.address }}'
    service: 'node_exporter'
    hostname: '{{ inventory_hostname }}'
    os: '{{ ansible_os_family | default("unknown") }}'
