---
# Node Exporter targets for Prometheus service discovery
# This file is automatically updated by the node_exporter role
# Prometheus will pick up changes within 30 seconds (refresh_interval)

- targets: ['{{ prometheus_node_exporter_target | default("host.docker.internal:9100") }}']
  labels:
    job: node_exporter
    instance: '{{ ansible_default_ipv4.address | default("host.docker.internal") }}'
    service: 'node_exporter'
    hostname: '{{ inventory_hostname }}'
    os: '{{ ansible_os_family | default("unknown") }}'
{% if node_exporter_labels is defined %}
{% for key, value in node_exporter_labels.items() %}
    {{ key }}: '{{ value }}'
{% endfor %}
{% endif %}