loki.write "local" {
  endpoint {
    url = "{{ alloy_loki_write_url }}"
{% if alloy_loki_tenant_id | length > 0 %}
    headers = { "X-Scope-OrgID" = "{{ alloy_loki_tenant_id }}" }
{% endif %}
  }
}

discovery.docker "linux" {
  host = "unix:///var/run/docker.sock"
}

discovery.relabel "logs_integrations_docker" {
    targets = []

    rule {
        target_label = "job"
        replacement  = "integrations/docker"
    }

    rule {
        target_label = "instance"
        replacement  = constants.hostname
    }

    rule {
        source_labels = ["__meta_docker_container_name"]
        regex         = "/(.*)"
        target_label  = "container"
    }

    rule {
        source_labels = ["__meta_docker_container_log_stream"]
        target_label  = "stream"
    }
}

discovery.relabel "logs_integrations_journald" {
    targets = []

    rule {
        target_label = "job"
        replacement  = "integrations/journald"
    }

    rule {
        target_label = "instance"
        replacement  = constants.hostname
    }

    rule {
        source_labels = ["__meta_journald_unit"]
        target_label  = "unit"
    }

    rule {
        source_labels = ["__meta_journald_syslog_identifier"]
        target_label  = "syslog_identifier"
    }

    rule {
        source_labels = ["__meta_journald_container_name"]
        target_label  = "container"
    }

    rule {
        source_labels = ["__meta_journald_container_id"]
        target_label  = "container_id"
    }

    rule {
        source_labels = ["__meta_journald_priority"]
        target_label  = "priority"
    }
}

loki.source.docker "default" {
  host = "unix:///var/run/docker.sock"
  targets = discovery.docker.linux.targets
  relabel_rules = discovery.relabel.logs_integrations_docker.rules
  labels = {
  }
  forward_to = [
    loki.write.local.receiver,
  ]
}

loki.source.journal "default" {
  relabel_rules = discovery.relabel.logs_integrations_journald.rules
  forward_to = [
    loki.write.local.receiver,
  ]
} 