services:
  alloy:
    image: "{{ alloy_image }}"
    container_name: "{{ alloy_container_name }}"
    restart: unless-stopped
    hostname: "{{ inventory_hostname }}"
    command:
{% for arg in alloy_command %}
      - {{ arg }}
{% endfor %}
    ports:
{% for port in alloy_ports %}
      - "{{ port }}"
{% endfor %}
    volumes:
{% for volume in alloy_volumes %}
      - {{ volume }}
{% endfor %}
    networks:
      - monitoring
    privileged: true
    security_opt:
      - seccomp:unconfined
    cap_add:
      - SYS_ADMIN
      - SYS_PTRACE

networks:
  monitoring:
    external: true 