version: '3.8'
services:
  alloy:
    image: "{{ alloy_image }}"
    container_name: "{{ alloy_container_name }}"
    restart: unless-stopped
    command:
{% for arg in alloy_command %}
      - {{ arg }}
{% endfor %}
    ports:
{% for port in alloy_ports %}
      - "{{ port }}"
{% endfor %}
    volumes:
{% for volume in alloy_volumes %}
      - {{ volume }}
{% endfor %}
    networks:
      - monitoring

networks:
  monitoring:
    external: true 